# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

yarn-debug.log*
yarn-error.log*

dist
.parcel-cache
.vsc

### Node ###
logs
*.log
npm-debug.log*
node_modules/
.sass-cache/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Linux ###
*~

### Code ###
.settings/
.vscode/

### Webstorm ###
.idea/

### Other ###
.test/
.solution
