@use "../settings/fonts";
@use "../settings/colors";

.button__big {
  font-size: 38px;
  width: 45%;
  font-family: fonts.$font-alt;
  color: colors.$color-grey;
  background-color: white;
  padding: 1rem 2rem;
  margin: 1rem;
  border: 1px solid colors.$color-grey;
}
