@use "../settings/fonts";
@use "../settings/colors";

.header__container {
  display: flex;
  justify-content: flex-end;
  height: 400px;

  &::before {
    content: "";
    position: absolute;
    height: 550px;
    width: 50%;
    background-image: url("../../assets/images/Home-Hero-Image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    top: 0;
    right: 55%;
    z-index: -1;
  }
}

.header__intro {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;

  .main__buttons {
    display: flex;
  }
}

.intro__slogan,
.steps__slogan {
  font-size: 38px;
  color: colors.$color-dark;
  font-family: fonts.$font-alt;
  font-weight: 300;
  text-align: center;
  margin: 3rem 0 0 0;
}